body {
  background: #356aa0 url(https://wallpaperscraft.com/image/patterns_light_background_surface_texture_50722_2560x1600.jpg) repeat-x;
  font-style: oblique;
} 

form input{
	text-align: center;

